/* Styles for Mobile Site */

/* Header & Hero */
body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:lightblue;
    color: black;
}
h1, h2, h3, h4, h5, h6 {
    text-align:center;
}

header {
    text-align:center;
}
/* Projects */

/* Reviews */
#review h2 {
    font-family:'Cambria';
}

/* Footer */


/* Media state for Desktop site */
@media (min-width: 1000px) {

    /* Header & Hero */

    /* Projects */

    /* Reviews */

    /* Footer */

}